.commentWrapper {
    display: flex;
    gap: 1.6rem;
}

.commentWrapper:nth-child(1) {
    margin-top: 3.2rem;
}

.commentWrapper + .commentWrapper {
    margin-top: 2.4rem;
}

.comment {
    flex: 1;
}

.comment .commentContent {
    background: var(--gray-700);
    border-radius: 8px;    
    padding: 1.6rem 1.6rem 2.5rem;
}

.comment .commentContent header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 1.6rem;
}

.comment .commentContent header .author strong {
    display: block;
    line-height: 1.6;
    color: var(--gray-300);
}

.comment .commentContent header .author time {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--gray-500);
}

.commentContent header button {
    background: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    line-height: 0;

    color: var(--gray-500);    
    cursor: pointer;
}

.commentContent header button:hover {
    color: var(--red-500);    
}

.commentContent p {
    color: var(--gray-100);
    font-size: 1.4rem;
    line-height: 1.4;
}

.comment footer button {
    margin-top: 1.6rem;    
    background: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    line-height: 0;
    
    display: flex;
    align-items: center;
    gap: 1rem;
    
    color: var(--gray-500);
    font-size: 14px;
    line-height: 1.6;

    cursor: pointer;

}