.postWrapper + .postWrapper {
    margin-top: 3.2rem;
}

.post {
    background: var(--gray-800);
    padding: 4rem;
    border-radius: 8px;
}

.post header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post header time {
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--gray-500);
}

.author {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.authorInfo strong{
    display: block;
    font-weight: 700;
    font-size: 1.6rem;

    color: var(--title-color);
}

.authorInfo span {
    font-size: 1.4rem;

    color: var(--gray-500);
}

.postContent p {
    margin-top: 2rem;
    line-height: 1.4;
    color: var(--gray-400);
}

.postContent a {
    text-decoration: none;
    color: var(--green-300);
    font-weight: bold;
}

.postContent a:hover {
    color: var(--green-100);
}

.separatorLine {
    width: 100%;
    border-top: 1px solid var(--gray-600);
    margin: 2.4rem 0;
}

.commentForm strong {
    margin: 1.6rem 0;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    height: 9rem;
    margin: 1.6rem 0;
    padding: 8px;

    color: var(--gray-100);
    background: var(--gray-900);
    border: none;
    border-radius: 8px;

    resize: none;
} 

.commentForm footer {
    max-height: 0;
    visibility: hidden;
}

.commentForm:focus-within footer {
    max-height: none;
    visibility: visible;
}

.publishBtn {
    display: block;
    padding: 1.6rem 2.4rem;
    background: var(--green-300);
    border-radius: 8px;
    
    color: var(--gray-100);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;

    outline: none;
    border: none;

    cursor: pointer;
}

.publishBtn:hover {
    background: var(--green-500);
}

.publishBtn:disabled {
    opacity: .7;
    cursor: not-allowed;
}