.container {
    max-width: 112rem;
    margin: auto;

    display: grid;
    grid-template-columns: 256px 1fr;
    align-items: flex-start;

    gap: 3.2rem;
    margin-top: 3.2rem;
    margin-bottom: 8rem;
}

@media (max-width: 768px) {

    html {
        font-size: 87.5%;
    }

    .container {
        grid-template-columns: 1fr;
    }
}