.container {
    max-width: 1120px;
    margin: auto;

    display: grid;
    grid-template-columns: 256px 1fr;
    align-items: flex-start;

    gap: 3.2rem;
    margin-top: 3.2rem;
    margin-bottom: 8rem;
}