* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 10px */

    --green-500: #629d6e;
    --green-300: #61b171;
    --green-100: #60e27a;

    --gray-300: #e1e1e6;
    --gray-400: #c4c4cc;
    --gray-500: #8D8D99;
    --gray-600: #48515e;
    --gray-800: #313944;
    --gray-900: #1e242c;

    --blue-600: #164669;
    
    --red-500: #F75A68;

    --white: #fff;    
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

:focus {
    border: 1px solid var(--green-300);
}